# Node.js
node_modules/
.env

# AngularJS / frontend
frontend/dist/
frontend/node_modules/

# Logs
logs
*.log
npm-debug.log*

# OS/System files
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/
